<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>com.daw.fipository.logica.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>com.daw.fipository.logica.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreacionRepositorio</servlet-name>
        <servlet-class>com.daw.fipository.logica.CreacionRepositorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubidaArchivos</servlet-name>
        <servlet-class>com.daw.fipository.logica.SubidaArchivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaDatosFichCarp</servlet-name>
        <servlet-class>com.daw.fipository.logica.CargaDatosFichCarp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreacionRepositorio</servlet-name>
        <url-pattern>/CreacionRepositorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubidaArchivos</servlet-name>
        <url-pattern>/SubidaArchivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaDatosFichCarp</servlet-name>
        <url-pattern>/CargaDatosFichCarp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
