aside {
    background-color: black;
    height: 80vh;
    width: 10px;
}

.valido {
    background-color: green;
}

.foco {
    background-color: lightgreen;
}

@media screen and (min-width:576px) {

}


@media screen and (min-width:992px) {
    main .btn{
        font-size: 4.5vmin;
    }
}
