main {
    width: 100%;
    padding: 2.5rem;
}

.container-botones div{
    display: flex;
    width: 100%;
}

.container-input-texto{
    display: flex;
}

.container-input-texto label{
    background: var(--bs-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    font-size: 6vmin;
    border-radius: 30px 0px 0px 30px;
    color: white;
}

.container-input-texto input{
    width: 100%;
    padding-left: 1rem;
    border: none;
    transition: 0.5s all;
        border-radius: 0px 30px 30px 0px;
}

.container-carpetas-fichero input{
    position: absolute;
    left: -2000px;
}

.container-carpetas-fichero label{}

.container-input-texto input:focus{
    outline: none;
    box-shadow: 0px 0px 20px var(--bs-primary)
}

.container-botones label{
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: var(--bs-primary);
    border: 1px solid var(--bs-primary);
    background: none;
    border-radius: 30px 0px 0px 30px;
    padding: 0.5rem 2rem;
    vertical-align: middle;
    cursor: pointer;
    font-size: 8vmin;
    width: 50%;
    transition: 0.5s all;
}

label.radio-seleccionado{
    color: white;
    background: var(--bs-primary);
}

.container-botones label:last-of-type{
    border-radius: 0px 30px 30px 0px;
}

.container-botones input{
    position: absolute;
    left: -2000px;
}

aside {
    background-color: black;
    height: 80vh;
    width: 10px;
}

.valido {
    background-color: green;
    color: white;
}

h2{
    margin: 2rem 1rem 3rem;
    text-align: center;
}

main h3{
    padding: 0.5rem 1rem;
    margin: 2rem;
    border-radius: 30px;
}

.foco {
    background-color: lightgreen;
}

.btn-check{
    width: 1% !important;
}

.container-archivos label.btn{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container-archivos div{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.container-archivos{
    height: 250px;
    overflow-y: scroll;
    border-radius: 20px;
    border: 2px solid white;
    background: white;
}

#ficheros, #carpetas {
    width: 95%;
    margin: auto;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    text-align: center;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: inherit;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    border-radius: 30px;

    &.btn-3 {
        background-color: var(--bs-primary);
        overflow: hidden;

        span {
            display: inline-block;
            height: 100%;
            font-size: 6vmin;
            transition: all 0.3s;
            width: 100%;
        }

        &::before {
            color: #fff;
            content: "\F603";
            font-family: "bootstrap-icons";
            font-size: 2rem;
            height: 100%;
            left: 0;
            font-size: 6vmin;
            position: absolute;
            top: -180%;
            transition: all 0.3s;
            width: 100%;
        }

        &.btn-3:hover {
            background-color:  rgb(66, 150, 68);

            span {
                transform: translateY(300%);
            }

            &::before {
                top: 0;
            }
        }
    }
}

#ficheros form{
    display: flex;
    flex-direction: column;
}

.submit{
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: var(--bs-primary);
    border: 1px solid var(--bs-primary);
    background: none;
    font-size: 6vmin;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    vertical-align: middle;
    cursor: pointer;
    margin: auto;
    width: 90%;
    transition: 0.5s all;
}

.submit:hover{
    color: white;
    background: var(--bs-primary);

}

/* Track */
.container-archivos::-webkit-scrollbar-track {
    background: none;
}

.progress {
    height: 5px;
}

.progress-bar{
    /*style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"*/
    width: 0%;
}

.barra-progresion button.btn{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}

@media screen and (min-width:576px) {
    .container-archivos{
        height: 300px;
        overflow-y: scroll
    }

    .container-botones label{
        font-size: 6vmin;
    }

    .container-input-texto label{
        font-size: 4vmin;
    }

    #ficheros, #carpetas{
        width: 75%;
    }

    [type="file"] + label {
        &.btn-3 {
            span {
                font-size: 4vmin;
            }
        }
    }
}


@media screen and (min-width:992px) {
    h1{
        font-size: 8vmin;
        margin:1.5rem;
    }

    main .btn{
        font-size: 3.5vmin;
    }

    .container-input-texto label{
        font-size: 3vmin;
    }

    .container-archivos{
        height: 200px;
        overflow-y: scroll
    }
    #ficheros, #carpetas{
        width: 60%;
    }

    [type="file"] + label {
        &.btn-3 {
            span {
                font-size: 3vmin;
            }
        }

    }

}
