@font-face {
    font-family: bi;
    src: url(../fonts/bootstrap-icons.woff);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(#83c4fd, #6989fd);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(76, 175, 80);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 150, 68);
}

body {
    background: linear-gradient(to right bottom, #9dfffe, #6989fd);
    background-attachment: fixed;
    min-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside{

}

nav .container-fluid img {
    width: 5vw;
}

header .navbar {
    background: rgb(66, 150, 68);
}

.navbar .navbar-nav .nav-item a.nav-link {
    color: white;
    font-size: 5.5vmin;
}

.navbar .navbar-nav .nav-item a.nav-link i{
    font-size: 5.5vmin;
}

.nav-item:not(.nav-item:first-child) a {
    display: flex;
    align-items: center;
}

.nav-item:not(.nav-item:first-child) {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    background-color: #1e9f2c;
}

.dropdown-menu a {
    color: white;
    font-size: 5vmin;
}

.container-fluid button.navbar-toggler {
    color: white;
}

.container-fluid .navbar-toggler {
    border-color: white;
}

#breadcrumbs ol li a{
    color:black;
    text-decoration: none;    
}


.divFooter {
    background: url(../img/fondoNubesTrans.png);
    padding: 1%;
    background-repeat: repeat-x;
    background-size: 100%;
    background-position: top;
    font-size: 2vmin;
}

i {
    font-size: 3vmin;
}

#breadcrumbs {
    --bs-breadcrumb-divider: ">";
}

#iniSesi {
    font-size: 4vmin;
    color: white;
    margin: 2px;
    text-decoration: none;
}

#nombreUsu {
    text-decoration: none;
    color: white;
}

#enlInciarSesion:hover #nombreUsu,
#enlInciarSesion:hover #iniSesi {
    color: rgb(192, 192, 192);
}
/*Esta parte se encuentra en Iniciar sesion y recuperar Contraseña*/
.formu {
    /*background-color: #429644;*/
    background-color: white;
    color: #0d6efd;
    border-radius: 10px;
}

.formu label {
    color: black
}

.formu a{
    color:black;
    transition: 0.5s all;
}

.formu a:hover{
    color: #0d6efd;
}

/*Breakpoint personalizado para tamaño del texto*/

footer {
    background: url(../img/fondoNubes.gif);
    background-repeat: repeat-x;
    background-position-y: bottom;
    background-size: contain;
}

footer ul li {
    border-right: 1px solid rgb(0, 217, 255);
}

footer ul li:last-child {
    border: none;
}

/*Cambios Index dia 27/02*/

input[type="submit"],.btn{
    font-size: 6.5vmin;
}

h1{
    font-size: 11vmin;
}
h2{
    font-size: 7vmin;
    margin: 1rem;
}

@media screen and (min-width:576px) {
    /*Resolución tablet*/
    input[type="submit"],.btn{
        font-size: 4vmin;
    }

    h1{
        font-size: 8vmin;
    }
    h2{
        font-size: 5vmin;        
    }

    .navbar .navbar-nav .nav-item a.nav-link {
        color: white;
        font-size: 3vmin;
    }
    
     .navbar .navbar-nav .nav-item a.nav-link i {
        font-size: 3vmin;
    }

    .dropdown-menu a {
        font-size: 3vmin;
    }

}

@media screen and (min-width:992px) {
    /*Resolución Ordenador*/
    input[type="submit"],.btn{
        font-size: 6.5vmin;
    }

    h1{
        font-size: 8vmin;
    }
    h2{
        font-size: 6vmin;        
    }

    .navbar .navbar-nav .nav-item a.nav-link {
        color: white;
        font-size: 2.5vmin;
    }
    
      .navbar .navbar-nav .nav-item a.nav-link i{
        font-size: 2.5vmin;
    }

    .navbar input[type="submit"]{
        font-size: 2.5vmin;
    }

    nav:first-child li:first-child  {
        width: auto !important;
    }
    
       .dropdown-menu li a {
        font-size: 2.5vmin;
    }

}
