input[type="text"]{
    border-radius: 10px;
}

select{
    border-radius: 5px;
}
article img{
    width: 120px;
    height: 90px;
}

article {
   height: 100%;
}

.container-opiniones>div{
    padding: 1rem !important;
}

.card{
    width: 100%;
}