article img{
    width: 120px;
    height: 90px;
}

input[type="text"]{
    border-radius: 10px;
}

select{
    border-radius: 5px;
}
article img{
    width: 120px;
    height: 90px;
}

.card{
    width: 100%;
}

.container-opiniones>div{
    padding: 1rem !important;
}

@media screen and (min-width:576px) {
    input[type="submit"].btn{
        font-size: 3vmin;
    }
}

@media screen and (min-width:992px) {
    input[type="submit"].btn{
        font-size: 2.5vmin;
    }
}


@media screen and (min-width:1200px) {
 
}