.avatar-repositorio {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    box-sizing: border-box;
}

.container-repositorios article {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.enlace-repositorio {
    font-size: 5vmin;
    color: black;
    text-decoration: none;
}

.enlace-repositorio:hover {
    color:white;
}

aside{
    background-color: #00cc99;
    border-radius: 20px;
}

.carta-actividad p {
    padding: 0;
    margin: 0;
}

.carta-actividad{
    margin-top: 4%;
    box-shadow:  4px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.card article div:not(.stats) p:first-child{
    font-size: 5vmin;
    font-weight: bold;
}

#compartido-conmigo{
    background: linear-gradient(0deg, #429644, #57c34d);
    border-radius: 20px;
}

#mis-repositorios{
    background: #57c34d;
}

.card{
    padding: 1rem !important; 
}

.card header h5{
    font-size: 5.5vmin;
}

.card header{
    background-color: transparent;
}



@media screen and (min-width:576px) {
    /*Resolución tablet*/
    .enlace-repositorio {
        font-size: 3.5vmin;
    }

    .card header h5{
        font-size: 4vmin;
    }

    .card header p{
        font-size: 2.5vmin;
    }

    .card article div:not(.stats) p:first-child{
        font-size: 3vmin;
    }

    .card article div:not(.stats) p:last-child{
        font-size: 2.5vmin;
    }
}

@media screen and (min-width:992px) {
    /*Resolución Ordenador*/
    .enlace-repositorio {
        font-size: 2.5vmin;
    }

    .card header h5{
        font-size:3vmin;
    }
    .card header p{
        font-size: 2vmin;
    }
    .card article  div:not(.stats) p:last-child{
        font-size: 2vmin;
    }
}