button[type="submit"]{
    background-color: #6989fd;
    color: white;    
    transition: all .3s;
}

button[type="submit"]:hover{
    color: antiquewhite;
}

@media screen and (min-width:992px) {
    main .btn{
        font-size: 3vmin;
    }
}