article img{
    width: 120px;
    height: 90px;
}

input[type="text"]{
    border-radius: 10px;
}

select{
    border-radius: 5px;
}
article img{
    width: 120px;
    height: 90px;
}

.container-opiniones>div{
    padding: 1rem !important;
}

@media screen and (min-width:576px) {
    div>h5+form>input[type="submit"]{
        font-size: 20px;
    }
}

@media screen and (min-width:1200px) {
    div>h5+form>input[type="submit"]{
        font-size: 20px;
    }
}