aside {
    background-color: black;
    height: 80vh;
    width: 10px;
}

.valido {
    background-color: green;
}

.foco {
    background-color: lightgreen;
}

.btn-check{
    width: 1% !important;
}

label.btn{
    display: flex;
    height: 100%;
    align-items: center
}


.container-archivos div{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.container-archivos{
    height: 200px;
    overflow-y: scroll
}

@media screen and (min-width:576px) {

}


@media screen and (min-width:992px) {
    main .btn{
        font-size: 4.5vmin;
    }
}
