#primero {
    background: linear-gradient(gold, rgb(163, 138, 0));
    height: 125px;
}

#segundo {
    background: linear-gradient(silver, rgb(138, 138, 138));
    height: 100px;
}

#tercero {
    background: linear-gradient(#c58d73, #7a5747);
    height: 75px;
}